[submodule "u-boot"]
	path = u-boot
	url = https://source.denx.de/u-boot/u-boot
[submodule "arm-trusted-firmware"]
	path = arm-trusted-firmware
	url = https://github.com/ARM-software/arm-trusted-firmware.git
